*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    background-color: #F9F9F9;
   
}
.apresentacao{
    display: none;
}

/*---------------------------------------------HEADER*/


.vem{
    display: flex;
    justify-content: center;
    color: #374957;
    font-size: 12px;
    padding-block: 1%;
    background-color: #F4F4F4;

}
#pra{
    color: #F3B123;
    
}

.header{
    background: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37
    );
    width: 100%; /* se refere a left e right*/
    position: fixed;
    z-index: 1111;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 8.3vh;
    margin-inline: auto;
    
    
}

.nav-list{
    display: flex;
    padding-block: 20px;  /* se refere a top e bottom*/
    gap: 10px; 
  width: 100%;
  justify-content: center;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: #374957;
 
   text-decoration: none;
   padding-block: 19px;  /* se refere a top e bottom*/
   padding-inline: 30px;
   
  
}
.nav-list a:hover{
    background-color: #111A29;
    color: white;
}



.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}


.banner-t{
    
    display: flex;
   justify-content: center;
    margin: 20px;
    margin-top: 0px;
    
   
    
}
.carrossel{
    overflow: hidden;
    
  /*  filter: drop-shadow(0px 0px 10px #000);*/
  
 
    
    
}
.container{
    
    display: none;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    width: 1250px;
    margin-top: 9%;
}

.introducao{
    background-color: #111A29;
    margin-inline: 1.6%;
    height: 15vh;
    margin-bottom: 10%;
    margin-top: -1.6%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.introducao h1{
   color: white;
   
  
    
    font-size: 20px;
    
} 
.intro{
    
   margin-inline: 10%;
    height: 15vh;
    margin-top: -10%;
    background-color: #CFCFCF;
    margin-bottom: 5%;
    border-radius: 0px 0px 20px 20px ;
}
.intr{
    display: flex;
    justify-content: center;
    background: white;
    margin-inline: 5%;
    height: 12vh;
    border-radius: 0px 0px 20px 20px ;
    
}
.intr img{
    
    width: 95%;
    text-align: center;
}
.cabecalho-menu{
    display: none;
}

/*---------------------------------------------MAIN*/

main{
    
    width: 93%;
    margin: auto;
    margin-top: 15%;
    height: 50vh;
}    
    

.main-principal{
    
    width: 63.5%;
    height: 50vh;
    margin-left: 1%;
    
}
.main-txt{
    
    height: 50vh;
    display: flex;
}
.molduras-txt01{
width: 50%;
margin-left: 2%;

}
#fizemos{
    color: #3E3E3E;
    font-size: 2.5em;
}
#fizemos-p{
    width: 65%;
    font-size: 1.6em;
    text-align: center;
}

.molduras-txt02{
    display: flex;
    width: 50%;
    font-size: 1.4em;
    text-align: justify;
    align-items: center;
}

#txt02 a{
    color: #4A75C5;
}


.gallery{
  
   margin: auto;
    height: 75vh;
    display: flex;
   padding-top: 3%;
}
.gallery-cards{
    display: flex;
    
    height: 65vh;
   
    align-items: center;
    

}

.menor1{
    width: 20%;
    height: 30vh;
   position: absolute;
  background-color: #333333;
  left:2%;
   border-radius: 20px;
   box-shadow: 2px 5px 20px 0px black;
   cursor: pointer;
}
.menor1:hover{
    z-index: 11;
    transform: translateX(1%);
   background-color: #333333;
 
      
   
   transition:  0.5s ease-in-out;
   width: 25%;
   height: 35vh;
}
#menor1{
    
    justify-content: center;
    position: absolute;
    
    
     width: 100%;
     height: 35vh;
      border-radius: 20px;
      box-shadow: 2px 5px 20px 0px black;
}
#menor1:hover{
    
       background-color: #333333;
      
          
       
       transition:  0.5s ease-in-out;
        width:100%;
        height: 35vh;
    
}
.menor2{
    width: 25%;
    height: 40vh;
    margin-left: 10%;
   background-color: #4A75C5;
   cursor: pointer;
    position: absolute;
   border-radius: 20px;
   box-shadow: 2px 5px 20px 0px black;
}
.menor2:hover{
    z-index: 1111111;
    transition:  0.5s ease-in-out;
    width: 35%;
    height: 40vh;
    transform: translateX(-15%);
}
#menor2{
    
    justify-content: center;
    position: absolute;
    
    
     width: 100%;
     height: 40vh;
      border-radius: 20px;
      box-shadow: 2px 5px 20px 0px black;
}
#menor2:hover{
    
       background-color: #333333;
      
          
       
       transition:  0.5s ease-in-out;
        width:100%;
        height: 45vh;
    
}

.maior{
   
   cursor: pointer;
    width: 40%;
    height: 50vh;
    justify-content: center;
    position: absolute;
     z-index: 13333;
    margin-left: 30%;
      border-radius: 20px;
      box-shadow: 2px 5px 20px 0px black;
}
.maior:hover{
   
       
        transform: translateX(-10%);
       background-color: #333333;
     
          
       
       transition:  0.5s ease-in-out;
        width: 50%;
        height: 60vh;
    
}
#maior{
    
    justify-content: center;
    position: absolute;
     z-index: 13333;
    
    height: 50vh;
      border-radius: 20px;
      box-shadow: 2px 5px 20px 0px black;
}
#maior:hover{
    
       background-color: #333333;
      
          
       
       transition:  0.5s ease-in-out;
        width:100%;
        height: 60vh;
    
}

.menor3{
    cursor: pointer;
    width: 25%;
    height: 40vh;
   margin-left:65%;
   background-color: #4A75C5;
   z-index: 11;
  position: absolute;
   border-radius: 20px;
   box-shadow: 2px 5px 20px 0px black;
}
.menor3:hover{
    z-index: 1111111;
    transition:  0.5s ease-in-out;
    width: 35%;
    height: 45vh;
    
    transform: translateX(-15%);
}
.menor4{
    cursor: pointer;
    width: 20%;
    height: 30vh;
   position: absolute;
   background-color: #333333;
   right: 2%;
   border-radius: 20px;
   box-shadow: 2px 5px 20px 0px black;
   
   
   
}
.menor4:hover{
    z-index: 11;
   
   background-color: #333333;
 
      
   transform: translateX(1%);
   transition:  0.5s ease-in-out;
    width: 25%;
    height: 35vh;
   
}

/*---------------------------------------------ARTICLE*/

article{
   
    text-align: center;
    height: 57vh;
}

/*---------------------------------------------FOOTER*/

footer{
   
    height: 80vh;
    
    
}

.bill{
    color: #868686;
    font-size: 16px;
    padding: 8%;
    text-align: center;
    height: 10vh;
    
}

.footer-rodape{
    
    background-color: #F5F5F5;
    height: 80vh;
   
    
}
.footer-interno{
    
    background-color: #F5F5F5;
    width: 95%;
    margin: auto;
    padding-top: 2%;
    height: 45vh;
    display: flex;
    
}

.interno{
    
    margin-top: 50px;
    height: 22vh;
 width: 100%;
    
    color: #4A75C5;
}
.interno ul{
    list-style-type: none;
   
    text-align: center;
    
}
.interno p{
    text-align: center;
    margin-top: 20px;
    color: #696969;
    margin-left: 2%;
    font-size: 15px;
    
}
#s-mais p{
   margin-left: 30%;
    
}
#s-mais img{
    
     transform: translateX(80px);
 }
.foot-icon{
    display: flex;
 
    
}
.foot-icon img{
    width:11%;
    
    margin-top: 13px;
    
    
}
.redes{
    
    height: 10vh;
    
}
.redes img{
    
    margin-top: 8%;
    
}

#prazo{
    font-size: 15px;
}

.cartoes{
    margin: auto;
    height: 17vh;
    color: #333333;
    display: flex;
    text-align: center;
    background-color: #F5F5F5;
    
}   
.cart-txt{
    width: 40%;
    height: 17vh;
   position: relative;
  
    
    font-weight: bolder;
    font-size: 20px;
    
}
.cart-txt p{
    
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
}

   

.entrega-img img{
    margin-top: -7%;
   
    
   
   
}
.foot-fim{
    background-color: #E8E7E7;
    
    padding: 1.6%;
    text-align: center;
    color: #696969;
    font-size: small;
}
#fim{
    color: #696969;
    font-size: small;
}  


    
.whats{

    transform: translateX(25px);
    bottom: 5px;
    right: 5px;
    
}





