*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    background-color: #F9F9F9;
   
}

/*---------------------------------------------HEADER*/


.vem{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    padding-block: 1%;
    background-color: #111A29;

}
#pra{
    color: #F3B123;
    
}

.header{
    background-color: #4a75c5;
    width: 100%; /* se refere a left e right*/
    position: fixed;
    z-index: 1111;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 8.3vh;
    margin-inline: auto;
    
    
}

.nav-list{
    display: flex;
    padding-block: 20px;  /* se refere a top e bottom*/
    gap: 10px; 
  width: 100%;
  justify-content: center;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: #fff;
 
   text-decoration: none;
   padding-block: 19px;  /* se refere a top e bottom*/
   padding-inline: 30px;
   
  
}
.nav-list a:hover{
    background-color: #111A29;
    
}



.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.banner-t{
    
    display: flex;
   justify-content: center;
    margin: 20px;
    margin-top: 0px;
    
   
    
}
.carrossel{
    overflow: hidden;
    
  /*  filter: drop-shadow(0px 0px 10px #000);*/
  
 
    
    
}
.container{
    
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    width: 1250px;
    margin-top: 9%;
}

.introducao{
    background-color: #111A29;
    margin-inline: 1.6%;
    height: 15vh;
    margin-bottom: 10%;
    margin-top: -1.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.introducao h1{
   color: white;
   
  
    
    font-size: 20px;
    
} 
.intro{
    
   margin-inline: 10%;
    height: 15vh;
    margin-top: -10%;
    background-color: #CFCFCF;
    margin-bottom: 5%;
    border-radius: 0px 0px 20px 20px ;
}
.intr{
    display: flex;
    justify-content: center;
    background: white;
    margin-inline: 5%;
    height: 12vh;
    border-radius: 0px 0px 20px 20px ;
    
}
.intr img{
    
    width: 95%;
    text-align: center;
}
.cabecalho-menu{
    display: none;
}


/*---------------------------------------------MAIN*/

main{
    width: 93%;
    margin: auto;
    display: flex;
    
}    

.main-principal{
    
    width: 81.5%;
    height: 230vh;
    
    
   
}

.main-topo{
    width: 90%;
    
    height: 5vh;
    justify-content: center;
    align-items: center;
    
    
}
.topo{
    width: 50%;
    
    display: flex;
    margin-left: 20px;
    
}

.topo-right{
    width: 50%;
    
    display: flex;
    margin-left: 13%;
    
}

.topo-mundo{
    width: 100%;
    
    
    
    
}
.main-noticias{
    
    height: 155vh;
    
    
}

.paragrafo{
    display: flex;

}
.ph{
    font-size: 1.6em;

}

.paragrafo p{
    font-size: 1.3em;
margin-top: 10%;
text-align: justify;
}


.nt{
    width: 50%;
    text-decoration: none;
    
}
.nt h1{
    margin-left: 20px;
    font-size: 1.5em;
    color: rgb(104, 3, 3);
}
.nt p{
  color: black;
   width: 93%;
    margin: 2%;
    margin-left: 18px;
    text-align: justify;
}

.nt-span{
    font-size: 14px;
    color: gray;
    margin-left: 70px;
}
.ntt-span{
    font-size: 14px;
    color: gray;
    margin-left: 40%;
}
.img-noticias{
   
    display: flex;
    justify-content: center;
}

.sessao-principal{
    width: 100%;
    
    display: flex;
}
.se{
  
   
    text-decoration: none;
    display: flex;
    margin-block: 1%;
    

}
#se-top{
    font-size: 1.6em;
    display: block;
}
.se h1{
    color: black;
    font-size: 16px;
    margin: 2%;
    
}






.main-left{
    margin-left:1.7%;
    height: 180vh;
    width: 16.8%;
    
}    

.post{
    height: 5vh;
    background-color: #3E3E3E;
}    

.post p{
    color: white;
    padding-top: 4.5%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}    


.post-list{
   
    height: 60vh;
    background-color: white;
}    

.recente{
    height: 4vh;
    text-align: center;
    background-color: #cfcfcf;

}     
   

.recente p{
    padding-top: 2%;
    color: #3E3E3E;
}
    

.list{
    height: 50vh;
    
}    

.list a{
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
    padding-top: 20px;
    margin-left: 10%;
    display: block;
    
}
.list a:hover{
    color: #4A75C5;
}

.saiba{
    
    height: 80vh;
    padding-top: 20%;
    
}    

.leia{
    color: #4A75C5;
    font-size: 20px;
    margin-left: 3px;
    

}    

.mais{
    margin-top: 10px;
    font-size: 19px;
    padding: 10px;
    
    text-align: justify;
}
.mais a{
    color: #4A75C5;
}    


.card-anuncio{
   
    height: 54vh;
    
}    

.card-anuncio a{
    text-decoration: none;
    text-align: center;
    
}    

.anuncio{
    background-color: #F8B64C;
    height: 10vh;
    margin-bottom: 40%;
}   

.anuncio a{
    color: #3E3E3E;
    position: absolute;
    padding: 11px 33px;
    font-weight: bold;
    font-size: 20px;
    
}
.anuncio1{
    background-color: #A14196;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio1 a{
    color: white;
    position: absolute;
    padding: 25px 27px;
    
    font-weight: bold;
}
.anuncio2{
    background-color: #4A75C5;
    margin-top: 5%;
    height: 10vh;
}    

.anuncio2 a{
    color: white;
    position: absolute;
    
    
    font-weight: bold;
    
    padding: 18px 6px;
}    
    
   

.anuncio2 p{
    font-weight: normal;
    font-size: 12px;
}
.anuncio3{
    margin-top: 5%;
    background-color: #403E36;
    height: 10vh;
    
}
.anuncio3 a{
   
    color: #FFC33E;
    position: absolute;
    padding: 17px 22px;
    font-weight: bold;
}    

   

.anuncio3 p{
    font-weight: normal;
    font-size: small;
    color: #FFC33E;
   
}
.anuncio4{
    margin-top: 5%;
    height: 29vh;
    
}   
#whats-img{
    
    
    width: 100%;
    
}







/*---------------------------------------------ARTICLE*/

 article{
    width: 100%;
    margin: auto;
    height: 40vh;
    
}   


.artigos{
    
    margin: auto;
    height: 30vh;
  
    
}    

 

.clientes{
   
    
    text-align: center;
   
}    

.clientes p{
    font-size: 2em;
    height: 10vh;
    color: #3E3E3E;
}



/*---------------------------------------------FOOTER*/

footer{
   
    height: 80vh;
    
    
}

.bill{
    color: #868686;
    font-size: 16px;
    padding: 8%;
    text-align: center;
    height: 10vh;
    
}

.footer-rodape{
    
    background-color: #F5F5F5;
    height: 80vh;
   
    
}
.footer-interno{
    
    background-color: #F5F5F5;
    width: 95%;
    margin: auto;
    padding-top: 2%;
    height: 45vh;
    display: flex;
    
}

.interno{
    
    margin-top: 50px;
    height: 22vh;
 width: 100%;
    
    color: #4A75C5;
}
.interno ul{
    list-style-type: none;
   
    text-align: center;
    
}
.interno p{
    text-align: center;
    margin-top: 20px;
    color: #696969;
    margin-left: 2%;
    font-size: 15px;
    
}
#s-mais p{
   margin-left: 30%;
    
}
#s-mais img{
    
     transform: translateX(80px);
 }
.foot-icon{
    display: flex;
 
    
}
.foot-icon img{
    width:11%;
    
    margin-top: 13px;
    
    
}
.redes{
    
    height: 10vh;
    
}
.redes img{
    
    margin-top: 8%;
    
}

#prazo{
    font-size: 15px;
}

.cartoes{
    margin: auto;
    height: 17vh;
    color: #333333;
    display: flex;
    text-align: center;
    background-color: #F5F5F5;
    
}   
.cart-txt{
    width: 40%;
    height: 17vh;
   position: relative;
  
    
    font-weight: bolder;
    font-size: 20px;
    
}
.cart-txt p{
    
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
}

   

.entrega-img img{
    margin-top: -7%;
   
    
   
   
}
.foot-fim{
    background-color: #E8E7E7;
    
    padding: 1.6%;
    text-align: center;
    color: #696969;
    font-size: small;
}
#fim{
    color: #696969;
    font-size: small;
}  


    
.whats{

    transform: translateX(25px);
    bottom: 5px;
    right: 5px;
    
}





